.button-theme {
    background: #ea4645;
}

.button-theme:hover {
    background: #d00031;
}

.btn-border {
    color: #fff;
    background: #ea4645;
    border: solid 1px #ea4645;
}

.contact-2 .ci-box .icon i {
    color: #ea4645;
}

.btn-border:hover {
    background: #d00031;
    border: solid 1px #d00031;
}

.blog-2 .b-btn {
    color: #ea4645;
}

.service-info-2 .icon {
    color: #ea4645;
    border: dashed 1px #ea4645;
}

.blog-3 .b-btn {
    color: #ea4645;
}

.banner .banner-slider-inner .banner-content2 h2 {
    color: #ea4645;
}

.our-newslatters-2 .inner::before {
    background: #ea4645;
}

.counters .counter-box h5 span {
    color: #ea4645;
}

.search-box-4 {
    background: #ea4645;
}

.counters .counter-box i {
    color: #ea4645;
}

.car-box .facilities-list::before {
    background: #ea4645;
}

.about-slider-box:before {
    border: 2px solid #ea4645;
}

.car-box .footer .price {
    color: #ea4645;
}

.question .contact-info li i {
    color: #ea4645;
}

.price-box-2 {
    color: #ea4645;
}

.car-box-3 .detail .title a {
    color: #ea4645;
}

.car-box-5 .facilities-list li i {
    color: #ea4645;
}

.car-box-3 .facilities-list li i {
    color: #ea4645;
}

.car-box .footer ul li a:hover {
    color: #ea4645;
}

.car-model-2 .ratings-2 span {
    background: #ea4645;
}

.car-box-3 .footer ul li a:hover {
    color: #ea4645;
}

.overlap-btn:hover {
    background: #ea4645;
    border: solid 1px #ea4645;
}

.overlap-btn.active {
    border: 1px solid #ea4645!important;
    background: #ea4645 !important;
    color: #fff;
}

.car-box-2 .facilities-list li i {
    color: #ea4645;
}

.change-view-btn:hover {
    background: #ea4645;
    border: solid 1px #ea4645;
    color: #fff;
}

.car-model-2 .price-box .del-2 {
    color: #ea4645;
}

.change-view-btn {
    border-radius: 2px;
    border: solid 1px #ea4645;
    color: #ea4645;
}

.active-view-btn {
    background: #ea4645;
    border: solid 1px #ea4645;
    color: #fff;
}

.car-box-4 h5 {
    color: #ea4645;
}

.blog-3 .post-meta a {
    color: #ea4645;
}

.sb-5 .search-area-inner {
    background: #ea4645;
}

.carousel-indicators .active {
    background-color: #ea4645;
}

.navbar-light .navbar-toggler {
    background: #ea4645;
}

.banner h4 {
    color: #ea4645;
}

.shop-info .price del {
    color: #ea4645;
}

.details-banner .cover-buttons ul li a:hover {
    background: #ea4645;
}

.text .ratings-box {
    background: #ea4645;
}

.dashboard-nav ul {
    border-bottom: 1px solid #d00031;
}

.new-user-box .follow:hover {
    background: #ea4645;
    color: #fff;
}

.service-info-3 .icon {
    color: #ea4645;
}

.setting-button i {
    color: #ea4645;
}

#page_scroller {
    background: #ea4645;
}

.dashboard-nav {
    background: #ea4645;
}


/** Tab box 2 start **/

.tab-box-2 .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: transparent;
    border-bottom: solid 2px#ea4645;
    border-radius: 0;
    color: #ea4645;
}

.tab-box .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background: #ea4645;
}

.checkbox-theme input[type="checkbox"]:checked+label::before {
    border: 2px solid#ea4645;
}

.main-header .dropdown-menu a:hover {
    color: #ea4645;
}

input[type=checkbox]:checked+label:before {
    color: #ea4645;
}

.testimonial-3 .carousel-indicators li.active {
    background: #ea4645;
}

.testimonial-2 .testimonial-info-box {
    background: #ea4645;
}

.banner-bg-color {
    background: #ea4645;
}

.btn-theme {
    background: #ea4645;
    border: solid 1px#ea4645;
}

.featured-car-4 .carousel-indicators li.active {
    background: #ea4645;
}

.btn-theme:hover {
    background: #d00031;
    border: solid 1px #d00031;
}

.btn-white-lg-outline:hover {
    color: #FFF;
    background: #ea4645;
    border: solid 2px#ea4645;
}

.car-amenities ul li i {
    color: #ea4645;
}

.blog-2 h3 a {
    color: #ea4645;
}

.border-button-theme {
    color: #ea4645;
    border: 2px solid#ea4645;
}

.banner-detail-box .red-box {
    background: #ea4645 url(../../img/slider-detail.png) center center;
}

.banner-detail-box .white-box .slide-price {
    color: #ea4645;
}

.banner-detail-box .white-box .slide-location::after {
    background-color: #ea4645;
}

.search-options-btn,
.search-options-btn:hover {
    background: #ea4645;
}

.search-button {
    background: #ea4645;
}

.intro-section {
    background: #ea4645;
}

.search-button:hover {
    color: #fff;
    background: #d00031;
}

.popular .price-for-user {
    color: #ea4645;
}

.popular .price-for-user .price .dolar {
    color: #ea4645!important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #ea4645;
}

.bootstrap-select .dropdown-menu>.active>a,
.bootstrap-select .dropdown-menu>.active>a:focus,
.bootstrap-select .dropdown-menu>.active>a:hover {
    color: #ea4645;
}

.bootstrap-select .dropdown-menu li a:hover .text {
    color: #ea4645;
}

.tag {
    background: #ea4645;
}

.view-all ul li a:hover {
    background: #ea4645;
    color: #fff;
}

.tag::after {
    border-left: 10px solid#ea4645;
}

.recent-properties-box .detail header::after {
    background-color: #ea4645;
}

.car-box .detail .title a {
    color: #ea4645;
}

footer .footer-item .contact-info li label a:hover {
    color: #ea4645;
}

.service-info .icon i {
    color: #ea4645;
}

.service-box .heading .title h4 a:hover {
    color: #ea4645;
}

.main-header .form-inline .submit {
    border: solid 1px#ea4645;
    color: #ea4645;
}

.main-header .form-inline .submit:hover {
    border: solid 1px#ea4645;
    background: #ea4645;
    color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #ea4645;
}

.sh-3 .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #515151;
}

.banner .banner-slider-inner h1 span {
    color: #ea4645;
}


/*.main-header .navbar-expand-lg .navbar-nav .active .nav-link {
    color:#ea4645 !important;
}*/

.main-header .navbar-expand-lg .user-account li a:hover {
    color: #ea4645;
}

.plan .price-header h1 {
    color: #ea4645;
}

.car-box-5 .detail h3 a {
    color: #ea4645;
}

.btn-outline {
    border: solid 1px#ea4645;
    color: #ea4645;
}

.btn-outline:hover {
    border: solid 1px #d00031;
    background: #d00031;
    color: #fff;
}

.btn-outline-2 {
    border: solid 2px#ea4645;
    color: #ea4645;
    font-weight: 600;
}

.heading-car-2 h3 span {
    color: #ea4645;
}

.btn-outline-2:hover {
    border: solid 2px #d00031;
    background: #d00031;
    color: #fff;
}

.footer .form-inline .btn {
    background: #ea4645;
    color: #fff;
}

.search-box-2 {
    background: #ea4645;
}

.about-box .detail h3 {
    color: #ea4645;
}

li.active.filtr-button.filtr a {
    color: #ea4645;
}

.coming-soon-inner h1 span {
    color: #ea4645;
}

.filteriz-navigation li a:hover {
    color: #ea4645;
}

.sub-banner .page-info .breadcrumb-area ul li a:hover {
    color: #ea4645;
}

.show-more-options i {
    color: #ea4645;
}

.pagination>li>.active {
    background: #ea4645;
}

.pagination>li>a:hover {
    background: #ea4645;
    color: #fff;
}

.contact-section .btn-section .active-bg {
    color: #ea4645;
}

.read-more {
    color: #ea4645;
}

.blog-3 .detail .post-meta span a i {
    color: #ea4645;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #ea4645;
}

.our-agent-sidebar .carousel-indicators .active {
    background: #ea4645;
}

.counter-box-2 .icon {
    color: #ea4645;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid#ea4645;
}

.range-slider .ui-widget-header {
    background-color: #ea4645;
}

.main-header .navbar-expand-lg .navbar-nav .link-color {
    color: #ea4645;
    border: solid 1px#ea4645;
}

.main-header .navbar-expand-lg .navbar-nav .link-color:hover {
    color: #fff;
    border: solid 1px#ea4645;
    background: #ea4645;
}

.posts-by-category ul li a:hover {
    color: #ea4645;
}

.tags-box ul li a:hover {
    color: #fff;
    border: 1px solid #ea4645;
    background: #ea4645;
}

.latest-tweet a {
    color: #ea4645;
}

.blog-1 h3 a:hover {
    color: #ea4645;
}

.blog-tags a:hover {
    color: #fff;
    border: 1px solid #ea4645;
    background: #ea4645;
}

.car-box-5 .detail .title a {
    color: #ea4645;
}

.price-box-3 {
    color: #ea4645;
}

.vs {
    color: #ea4645;
}

.blog-1 .detail h4 a {
    color: #ea4645;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #ea4645;
}

.breadcrumbs li a:hover {
    color: #ea4645;
}

.helping-center ul li i {
    color: #ea4645;
}

.my-account-box .title::after {
    background-color: #ea4645;
}

.breadcrumb-nav ul .active {
    color: #ea4645;
}

.photoUpload {
    background: #ea4645;
}

.typography-page mark.color {
    background-color: #ea4645;
}

.faq-accordion .card-header .collapsed.card-title:before {
    color: #ea4645;
}

.dashboard-nav ul li span.nav-tag {
    color: #ea4645;
}

.comment-content h6 span a {
    color: #ea4645;
}

.comment-content h6 span a:hover {
    color: #d00031;
}

.bg-active {
    background: #ea4645;
    color: #fff!important;
}

.banner h3 span {
    color: #ea4645;
}

.typography .list-3 li:before,
.list-2 li:before,
.list-1 li:before {
    color: #ea4645;
}

.numbered.color.filled ol>li::before {
    border: 1px solid#ea4645;
    background-color: #ea4645;
}

.numbered.color ol>li::before {
    border: 1px solid#ea4645;
    color: #ea4645;
}

.widget-link:hover {
    color: #ea4645;
}

.coming-soon-inner .btn,
.coming-soon-inner .btn:hover,
.coming-soon-inner .btn:active {
    background: #ea4645;
}

.car-box-2 .detail .title a {
    color: #ea4645;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #ea4645;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
    background-color: #ea4645;
}

.map-marker:hover {
    background-color: #ea4645;
    cursor: pointer;
}

.map-marker:hover:before {
    border-color: #ea4645 transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #ea4645;
}

.map-marker.featured:hover:before {
    border-color: #ea4645 transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid#ea4645;
}

.marker-active .map-marker {
    background-color: #ea4645;
}

.marker-active .map-marker:before {
    border-color: #ea4645 transparent transparent transparent;
}

.slick-arrow-buton:hover {
    background: #ea4645;
    color: #fff;
}

.map-properties .map-content h4 a {
    color: #ea4645;
}

.dropzone-design:hover {
    border: 2px dashed#ea4645;
}

@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #ea4645!important;
    }
    .car-model-2 .modal-header {
        background: #ea4645;
        padding: 20px 20px 10px;
    }
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ea4645;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: #ea4645 !important;
    }
    .main-header .navbar-default .nav>li>a:hover {
        background: #ea4645;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: #ea4645 !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        background: #eee;
    }
}

@media (min-width: 992px) {
    /*.header-transparent .navbar-expand-lg .navbar-nav .active .nav-link,
    .header-transparent .navbar-expand-lg .navbar-nav .nav-link:hover
    {
        color: #fff !important;
    }

    .header-transparent .navbar-expand-lg .navbar-nav .nav-link {
        color: #fff;
    }

    .header-transparent .link-color {
        color: #fff;
    }*/
}