@use "../../theme/scss/_variables" as *;

.leilao-img-container {
    background-color: $light-gray;
    padding: 10px;
    overflow: hidden;
}
.leilao-img {
    overflow: hidden;
    padding: 0;
        
    &.principal {
        display: block;
        margin: 0px auto;
        width: 100%;
        max-width: 800px;
        max-height: 500px;
        img {
            width: 100%;
        }
    }
    &.thumb {
        position: relative;
        float:left;
        margin: 10px 5px;
        &:first-child {
            margin-left: 0px;
        }
        &:last-child {
            margin-right: 0px;
        }
        height: 96px;
        img {
            max-width: 300px;
            height: 96px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
        .btns {
            position: absolute;
            left: 5px;
            bottom: 0;
            button {
                span {
                    display: none;
                }
                &:hover span {
                    display: inline;
                }
            }
        }
    }
}

.leilao-imgs {
    clear: both;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

.leilao-descricao {
    height: 38px;
    overflow: hidden;
    
}